<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="DepartmanTest">
        <classes>
            <class name="ODEV13.DepartmanTest"/>
        </classes>
    </test> <!-- Test -->

    <test name="MuhasebeTest">
        <classes>
            <class name="ODEV13.MuhasebeTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->